<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="style.css"> 
</head>

<body>
    <div id='app1'>
        <div class="header"> 
            <div class="container"> 
                <div class="logo">ToDo List</div>
                <div class="form">
                <input type="text" v-model="newcase"> 
                <button class="btn">Добавление новой задачи</button>
                </div>
            </div>
        </div>
    </div>

    <div id='app'>
        {{zhopa()}}
        {{items_undone()}}
    </div>
    <div class="container">
        <h2>
            <span>To Do</span>
            <span class="mask-num">10</span>
        </h2>
        <ul class="mask-list"> 
            <li>
                <div>
                    <input type="checkbox">
                    <span>Новое дело</span>
                </div>
                <button class="btn-remove">Удалить</button>
            </li>
        </ul>
        <h2>
            <span>Сделано</span>
            <span class="mask-num">10</span>
                <ul id="v-for-object" class="demo">
                    <li v-for="value in object">
                    {{ value }}
                    </li>
              </ul>
        </h2>
        <ul class="mask-list complete.list"> 
            <li>
                <div>
                    <input type="checkbox" checked>
                    <span>Помыть полы</span>
                </div>
                <button class="btn-remove">Удалить</button>
            </li>
        </ul>
    </div> 
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
</body>
</html>